
.heading{
    font-size: 54px;
    font-family: 'Josefin Sans', sans-serif;
}
.anchor{
    background-color: blue;
    color: white;
    length: 200px;
    width: 500px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Josefin Sans', sans-serif;
}